html {
  height: 100%;
}

body {
  width: 100%;
  background-image: url("../images/cityscape.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.game-container {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: gray;
  opacity: .8;
}

h1 {
  margin: 0 auto;
  margin-top: 20px;
}
